- names  = Translation.translate(organism, "Associated Gene Name", [entity]).first
- entrez = Translation.translate(organism, "Entrez Gene ID", [entity]).first
- ensg   = Translation.translate(organism, "Ensembl Gene ID", [entity]).first

- if names.nil?
  %h3== Gene Name: #{entity}
- else
  - names = names.split("|")
  %h3== Gene Name: #{names.shift} #{ if names.any?; then "(AKA #{names * ", "})"; else ""; end}

%dl
  - if not entrez.nil?
    See more at:
    %a(target="#details" href="http://www.ncbi.nlm.nih.gov/gene/#{entrez.split("|").first}") NCBI
    %dt Description
    %dd
      %p
        = Entrez.get_gene(entrez.first).description
    %dt Summary
    %dd
      %p
        = Entrez.get_gene(entrez.first).summary

    - genotype = context_job(Sequence, "genotype")
    - if genotype 
      %dt All mutations in this gene locus
      %dd
        - genes, result = continue_job(genotype, Sequence, :genes_at_genomic_positions, :positions => genotype)
        - result = result.reorder "Ensembl Gene ID"
        = html(result[ensg]["Genomic Position"], "Genomic Position", :organism => genes.info[:inputs][:organism]) * ", "
        

