- chr, pos, mut = entity.split(":").values_at 0, 1, 2
%h3== Position: #{ entity }
%dl
  %dt Overlaping genes:
  %dl
    = html(Sequence.genes_at_chr_positions(locals["organism"], chr, [pos]).first.split("|"), "Gene", :organism => locals[:organism]) * ", "

  - if not mut.nil?
    - severity = Mutation.job(:mutation_severity_for_genomic_positions, "WWW", :organism => locals["organism"], :mutations => [entity]).run[entity].zip_fields
    %dt Mutated Isoforms
    %dl
      %ul
        - severity.each do |values|
          %li
            %span.mutated_isoform= html(values["Mutated Isoform"], "Mutated Isoform", locals)
            %dl
              %dt SIFT
              %dd= values["SIFT:Prediction"]
              %dt SNPs&GO
              %dd= values["SNPs&GO:Prediction"]
    
