- entity_card = EntityCard.new(entity)
- entity_card.name = entity
- entity_card.long_name = "#{entity.gene.name} Protein Isoform"

- entity_card.description do
  %dl
    %dt Gene
    %dd= entity.gene.ensembl.link

    %dt Uniprot
    %dd
      %a(href="http://www.uniprot.org/uniprot/#{entity.uniprot}")= entity.uniprot

    %dt Sequence
    %dd(style='font-family: Andale Mono, monospace')
      - dec = 0
      = ((1..10).to_a * 5).collect{|i| i == 10 ? "<span style='color:red'>#{ dec += 1 }</span>" : i} * ""
      %br
      %br
      - sequence = "" 
      - entity.sequence.scan(/.{1,50}/).each_with_index do |line, i|
        - sequence += "<span class='line'>" + line + "</span><span class='line_count' style='margin-left: 5px'>#{i + 1}</span><br/>"
      %span.sequence= sequence

    %dt Ensembl SVG
    %dd= entity.marked_svg([])

- entity_card.action_controller = default_action_controller entity


= entity_card_render entity_card
