- clean = clean_jobname jobname
%h2== Genotype #{clean}

= workflow_partial(workflow, task_name, "partials/_job_control", locals)

%dl
  %dt Affected Genes
  %dd
    %a.replace(href="/Sequence/genes_at_genomic_positions?organism=#{step.info[:inputs][:organism]}&positions=local:genotype:#{jobname}&jobname=#{ clean }&_page=1") Genes

  %dt Exon Junctions
  %dd
    %a.replace(href="/Sequence/exon_junctions_at_genomic_positions?organism=#{step.info[:inputs][:organism]}&positions=local:genotype:#{jobname}&jobname=#{ clean }&_page=1")Exon Junctions 

  %dt Mutated Isoforms
  %dd
    %a.replace(href="/Sequence/mutated_isoforms_for_genomic_mutations?organism=#{step.info[:inputs][:organism]}&mutations=local:genotype:#{jobname}&jobname=#{ clean }&_page=key:1:25") Mutated Isoforms

:javascript
  $('dt').click(function(){
    $(this).next('dd').toggle()
    return false;
  })
