- entity_card = EntityCard.new(entity)
- entity_card.name = entity
- entity_card.long_name = "#{entity.gene.name} Protein Isoform"
- entity_card.meta do
  %dl
    %dt Gene
    %dd= entity.gene.ensembl.link

    %dt Uniprot
    %dd
      %a(href="http://www.uniprot.org/uniprot/#{entity.uniprot}")= entity.uniprot

- require 'web_tool'
- class << self; include Sinatra::RbbtToolHelper; end
- entity_card.description do
  = link_css '/stylesheets/protein'

  %dl.tabs
    %dt Controls
    %dd.row
      .controls.column.small-12
        %ul.controls
          %li
            %a.clear(href="#") clear
            %a.aligned(href="#") mark alignment

        = action_parameters nil, {:klass => ''}, :action => '#' do
          - input :list, :select, "Genomic Mutation list", nil, :html_options => {:class => 'favourite_lists', :type => 'GenomicMutation'}
          - input :color, :select, "Color to use", 'green', :select_options => %w(red green blue)

    %dt SVG
    %dd.row
      .svg.column.small-12
        = tool :isoform_svg, :protein => entity, :sequence => entity.sequence, :height => 200

    %dt JMOL
    %dd.row
      .jmol.column.small-12
        = tool :jmol, :protein => entity


 
     
  :javascript
    deffer(function(){
      require_js("/js/protein.js");
      var form = $('.controls > .action_parameters > form');
      var submit = form.find('input[type=submit]');

      $('.controls > ul.controls > li > a.clear').click(function(){
        var jmol = $('.jmol_tool');
        var isoform_svg= $('.isoform_svg_tool');

        if(jmol.jmol_tool('is_pdb_loaded')){ jmol.jmol_tool('clear'); }

        isoform_svg.isoform_svg_tool('clear');

        return false;
      })

      $('.controls > ul.controls > li > a.aligned').click(function(){
        var jmol = $('.jmol_tool');
        var isoform_svg= $('.isoform_svg_tool');

        if(jmol.jmol_tool('is_pdb_loaded')){ 
          var map = jmol.jmol_tool('alignment_map');
          jmol.jmol_tool('mark_aligned_region', 'blue');
          isoform_svg.isoform_svg_tool('mark_aligned_region', map, 'blue');
        }
        return false;
      })

      submit.click(function(){
        var list = form.find('select[name=list]').val();
        var color = form.find('select[name=color]').val();

        var jmol = $('.jmol_tool');
        if(jmol.jmol_tool('is_pdb_loaded')){ jmol.jmol_tool('mark_genomic_mutations', list, color); }

        var isoform_svg= $('.isoform_svg_tool');
        isoform_svg.isoform_svg_tool('mark_genomic_mutations', list, color);

        return false
      })
    })

- entity_card.action_controller = default_action_controller entity


= entity_card_render entity_card
