- authorize!
- studies = user_studies[user]

= action_card_render ActionCard.new do
  = table(:list_links => true, :table_id => "mutations_in_#{entity.name || entity}") do
    - tsv = TSV.setup({}, :key_field => "Study", :fields => ["Genomic Mutation"], :type => :flat)
    - studies.each do |study|
      - tsv[study] = study.all_mutations.select_by(:genes){|genes| genes.include? entity }
    - tsv


-#
  - authorize!
  - studies = user_studies[user]

  .section
    = table(:list_links => true, :table_id => "mutations_in_#{entity.name || entity}") do
      - tsv = TSV.setup({}, :key_field => "Study", :fields => ["Genomic Mutation"], :type => :flat)
      - studies.each do |study|
        - tsv[study] = study.all_mutations.select_by(:genes){|genes| genes.include? entity }
      - tsv


